<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="WDNA" Directory="WDNAFOLDER">
      <Component Guid="ffed4d39-be0d-443a-9e18-b5c541fe7cf1">
        <File Source="./Artifacts/wdna.exe" />
        <File Source="./Artifacts/wdna_shutdown.exe" />
        <File Source="./Artifacts/WinDivert.dll" />
        <File Source="./Artifacts/WinDivert64.sys" />
				<Environment Id="WdnaPath" Name="PATH" Value="[WDNAFOLDER]" Part="last" Permanent="no" Action="set" System="yes"/>
      </Component>
    </ComponentGroup>
		<ComponentGroup Id="MEMORY" Directory="MEMFOLDER">
			<Component Guid="3e17a3d6-052f-44ba-9fcf-eb084c47b035">
				<File Source="./Artifacts/memfill.exe"/>
				<Environment Id="FillMemPath" Name="PATH" Value="[MEMFOLDER]" Part="last" Permanent="no" Action="set" System="yes"/>
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="DISK" Directory="DISKFOLDER">
			<Component Guid="8fc3188e-cf9f-4acb-b58a-ad34d56835f7">
				<File Source="./Artifacts/devzero.exe"/>
				<File Source="./Artifacts/diskspd.exe"/>
				<File Source="./Artifacts/coreutils.exe"/>
				<Environment Id="DiskFolderPath" Name="PATH" Value="[DISKFOLDER]" Part="last" Permanent="no" Action="set" System="yes"/>
			</Component>
		</ComponentGroup>
		<ComponentGroup Id="CPUSTRESS" Directory="CPUFOLDER">
			<Component Guid="3b8aabfd-1fb8-4498-ade1-023e164d5e29">
				<File Source="./Artifacts/steadybit-stress-cpu.exe"	/>
				<Environment Id="StressCpuPath" Name="PATH" Value="[CPUFOLDER]" Part="last" Permanent="no" Action="set" System="yes"/>
			</Component>
		</ComponentGroup>
    <ComponentGroup Id="CORE" Directory="COREFOLDER">
      <Component Guid="12621f61-666b-40f4-ac24-d02e4d5436ed">
				<Environment Id="ExtensionPort" Name="STEADYBIT_EXTENSION_PORT" Value="8085" Permanent="yes" Action="create" System="yes"/>
        <File Source="./Artifacts/extension-host-windows.exe" KeyPath="yes"/>
				<ServiceInstall Id="ServiceInstall" Type="ownProcess" Name="SteadybitWindowsHostExtension" DisplayName="!(bind.Property.ProductName)" Start="auto" Vital="yes" ErrorControl="normal"/>
				<ServiceControl Id="StartService" Name="SteadybitWindowsHostExtension" Start="install" Stop="both" Remove="uninstall" Wait="yes"/>
      </Component>
    </ComponentGroup>
		<ComponentGroup Id="LICENSES" Directory="LICENSESFOLDER">
			<Component Guid="008f98bc-24ac-472f-8db5-1cb7075a500a">
				<File Source="./Artifacts/THIRD-PARTY-LICENSES.csv" KeyPath="yes"/>
			</Component>
		</ComponentGroup>
  </Fragment>
</Wix>
