<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
		 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
		 xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
		 >
  <Package ProductCode="*" Name="Steadybit Windows Host Extension" Manufacturer="Steadybit GmbH" Version="1.1.0.0" UpgradeCode="f12634c5-bb5e-4cb9-ac35-0cce1bcee031">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed. Uninstall the current version to install this older version. Setup will now exit." AllowSameVersionUpgrades="yes"/>
		<Media Id="1" EmbedCab="yes" Cabinet="cab1"/>

    <Feature Id="Main">
      <ComponentGroupRef Id="WDNA" />
      <ComponentGroupRef Id="LICENSES" />
      <ComponentGroupRef Id="CPUSTRESS" />
      <ComponentGroupRef Id="MEMORY" />
      <ComponentGroupRef Id="DISK" />
      <ComponentGroupRef Id="CORE" />
    </Feature>

		<UI Id="UI">
			<ui:WixUI Id="WixUI_Minimal" />
		</UI>

		<WixVariable Id="WixUILicenseRtf" Value="license.rtf"/>
		<Icon Id="icon" SourceFile="icon.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon"/>

		<util:QueryNativeMachine/>
		<Launch Condition="Installed OR WIX_NATIVE_MACHINE = 34404" Message="x64 is the only supported architecture. Current architecture is [WIX_NATIVE_MACHINE]."/>
  </Package>
</Wix>
