name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: pwsh

env:
  golang_version: '1.25.5'
  # Fix slow Go compile and cache restore
  # See https://github.com/actions/setup-go/pull/515
  GOCACHE: D:\gocache
  GOMODCACHE: D:\gomodcache
  GOTMPDIR: D:\gotmp

jobs:
  audit:
    name: Audit
    runs-on: windows-2022
    timeout-minutes: 60
    env:
      sonar_available: ${{ secrets.SONAR_TOKEN  != '' && 'true' || 'false' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - run: mkdir ${{ env.GOTMPDIR }}
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.golang_version }}

      - name: Set dependency versions
        id: versions
        run: echo "STEADYBIT_WINDIVERT_VERSION=$(grep STEADYBIT_WINDIVERT_VERSION versions.txt | cut -d= -f2)" >> GITHUB_ENV

      - name: Audit
        # Go requires gotmp to be present
        run: |
          go mod download
          make audit
        env:
          PAT_TOKEN: ${{ secrets.PAT_TOKEN }}

      - name: "[Release] Snyk test"
        uses: ./.github/actions/snyk-windows
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: test
          args: --org=${{ vars.SNYK_ORG_ID }} --severity-threshold=high --project-name=${{ github.repository }} --target-reference=${{ github.ref_name }}

      - name: SonarCloud Scan
        if: ${{ env.sonar_available == 'true' }}
        uses: sonarsource/sonarqube-scan-action@v7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: "[Release] SonarCloud Quality Gate check"
        if: ${{ startsWith(github.ref, 'refs/tags/') && env.sonar_available == 'true' }}
        uses: sonarsource/sonarqube-quality-gate-action@v1
        timeout-minutes: 5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build:
    name: Build & Release
    needs: audit
    runs-on: windows-2022
    outputs:
      artifact-name: ${{ steps.sanitize.outputs.SANITIZED_ARTIFACT_NAME }}
      artifact-id: ${{ steps.artifact-upload.outputs.artifact-id }}
    timeout-minutes: 60

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - run: mkdir ${{ env.GOTMPDIR }}
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.golang_version }}

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Set dependency versions
        id: versions
        run: echo "STEADYBIT_WINDIVERT_VERSION=$(grep STEADYBIT_WINDIVERT_VERSION versions.txt | cut -d= -f2)" >> GITHUB_ENV

      - name: Build extension installer
        # Go requires gotmp to be present
        run: make installer
        env:
          PAT_TOKEN: ${{ secrets.PAT_TOKEN }}

      - name: "[Release] Snyk monitor release candidate"
        uses: ./.github/actions/snyk-windows
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: monitor
          args: --org=${{ vars.SNYK_ORG_ID }} --severity-threshold=high --project-name=${{ github.repository }} --target-reference=release-candidate

      - name: Upload Artifacts
        id: artifact-upload
        uses: actions/upload-artifact@v6
        with:
          name: binaries
          path: |
            dist/*.zip
            dist/*.msi
          retention-days: 30

      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          prerelease: ${{ contains(github.ref, '-') }}
          fail_on_unmatched_files: true
          files: "dist/*.zip"

  upload-to-s3:
    needs: build
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5 # NOSONAR githubactions:S7637 - verified action creator
        with:
          aws-region: 'eu-central-1'
          role-to-assume: 'arn:aws:iam::292929100161:role/allow-auto-deploy-from-other-accounts'
          role-duration-seconds: 900
          role-session-name: S3DeployWindowsArtifacts

      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: binaries
          path: artifact/

      - name: Zip artifact
        shell: bash
        run: |
          SUFFIX="${{ github.head_ref || github.ref_name }}"
          zip -j "windows-host-extension-$SUFFIX.zip" artifact/*.msi
          zip -j windows-host-extension-latest.zip artifact/*.msi

      - name: Upload to S3
        shell: bash
        run: |
          aws s3 cp windows-host-extension-latest.zip "s3://windows-registry.steadybit.com/steadybit-extension-host-windows/"
          sha256sum windows-host-extension-latest.zip > windows-host-extension-latest.sha256
          aws s3 cp windows-host-extension-latest.sha256 "s3://windows-registry.steadybit.com/steadybit-extension-host-windows/windows-host-extension-latest.sha256"

          SUFFIX="${{ github.head_ref || github.ref_name }}"
          aws s3 cp "windows-host-extension-$SUFFIX.zip" "s3://windows-registry.steadybit.com/steadybit-extension-host-windows/"
          sha256sum "windows-host-extension-$SUFFIX.zip" > "windows-host-extension-$SUFFIX.sha256"
          aws s3 cp "windows-host-extension-$SUFFIX.sha256" "s3://windows-registry.steadybit.com/steadybit-extension-host-windows/windows-host-extension-$SUFFIX.sha256"

  snyk-monitor:
    name: "[Release] Snyk Monitor latest"
    needs: [upload-to-s3]
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    runs-on: windows-2022
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: mkdir ${{ env.GOTMPDIR }}
      - uses: ./.github/actions/snyk-windows
        with:
          command: monitor
          args: --severity-threshold=high --project-name=${{ github.repository }} --target-reference=latest
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  refresh-demo:
    name: Refresh Dev Demo
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Trigger Update EC2 Windows Demo
        uses: the-actions-org/workflow-dispatch@3133c5d135c7dbe4be4f9793872b6ef331b53bc7
        with:
          workflow: Windows-demo-deploy
          ref: main
          repo: steadybit/infrastructure-live
          inputs: >-
            {
              "extension_run_id": "${{ github.run_id }}"
            }
          token: ${{ secrets.PAT_TOKEN }}

## Not enough activity on windows to demo, currently decommissioned

#  refresh-prod:
#    name: Refresh Prod Demo
#    if: ${{ startsWith(github.ref, 'refs/tags/') }}
#    needs: [build, refresh-demo]
#    runs-on: ubuntu-latest
#    timeout-minutes: 15
#    steps:
#      - name: Trigger Update Prod EC2 Windows Demo
#        uses: the-actions-org/workflow-dispatch@3133c5d135c7dbe4be4f9793872b6ef331b53bc7
#        with:
#          workflow: Windows-prod-demo-deploy
#          ref: main
#          repo: steadybit/infrastructure-live
#          inputs: >-
#            {
#              "extension_run_id": "${{ github.run_id }}"
#            }
#          token: ${{ secrets.PAT_TOKEN }}
