name: CVE Scan Latest

on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:

jobs:
  get_latest_tag:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.get_tag.outputs.tag }}
    steps:
      - name: Get latest tag
        id: get_tag
        run: |
          TAG=$(curl -s https://api.github.com/repos/steadybit/extension-host-windows/releases/latest | jq -r '.tag_name')
          echo "Latest tag is $TAG"
          echo "tag=$TAG" >> $GITHUB_OUTPUT

  cve_scan:
    needs: get_latest_tag
    uses: steadybit/extension-kit/.github/workflows/reusable-cve-scan.yml@main
    with:
      scan_type: 'fs'

